* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 30px;
    background-color: cornflowerblue;
    margin-bottom: 20px;
    
}

button {
    margin: 5px;
    border-radius: 15px;
    background-color: cornflowerblue;
    color: white;
}

ul {
    padding: 0;
    text-align: center;
}

li {
    list-style-type: none;
    text-decoration: none;
    padding: 5px ;
    margin: 5px 0;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 2px;
    background-color: rgb(207, 240, 250);
}

li:hover {
    background-color: rgb(111, 111, 231);
    color: rgb(252, 249, 249);
}

#current-forecast {
    padding: 10px;
    border: solid 2px black;
    border-radius: 3px;
}

#uvi-box {
    padding: 10px;
    border-radius: 3px;
}

.uvi-box-green {
    background-color:darkgreen;
    color: white;
}

.uvi-box-yellow {
    background-color:rgb(247, 223, 12);
}

.uvi-box-orange {
    background-color: orange;
}

.uvi-box-red {
    background-color: crimson;
    color: white;
}

.uvi-box-violet {
    background-color: rgb(148, 0, 148);
    color: white;
}

.forecast-card {
    background-color: rgb(70, 97, 74);
    color: rgb(235, 235, 235);
    border-radius: 3px;
    margin: 3px;
}

.forecast-card p {
    padding: 10px 10px 0px 15px;
}